// ========================================//
// CSS FORCE
// forcar CSS em situacoes que o woocommerce tenta sobrepor
// ========================================// 
.shop-nav-ico { height: 34px !important; }
.header-pag-fundo { max-width: 230px !important; }


// ========================================//
// preco
// ========================================// 
.woocommerce div.product p.price,
.woocommerce div.product span.price {
    font-weight: bold;
    line-height: 1; font-family: $fonte-titulos;
}

p.price {
    ins { text-decoration: none !important; }
}

// ========================================//
// INPUTS
// ========================================// 
input#woocommerce-affiliate {
    @extend .input-text;
}


// ========================================//
// botao
// ========================================// 
.woocommerce {
    a.button, button.button, input.button {
        display: inline-block !important;
        padding: 0.5em 1.6em !important;
        border-style: solid !important;
        border-width: 1px !important;
        border-radius: 100px !important;
        line-height: 1.2 !important;
        font-weight: 500 !important;
        text-transform: uppercase !important;
        cursor: pointer !important;
        -webkit-transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease !important;
        transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease !important;

        &:hover, &:focus {
            background-color: $roxo-claro !important;
            color: $roxo  !important;
            border-color: $roxo-medio  !important;
        }

        &.single_add_to_cart_button, &.add_to_cart_button {
            border-color: $afirmacao  !important;
            background-color: $afirmacao  !important;
            color: $branco  !important;
            font-weight: bold !important;

            &:hover, &:focus {
                border-color: $verde-medio  !important;
                background-color: $verde-claro  !important;
                color: $verde  !important;
            }
        }

        &.add_to_cart_button, &:not(.single_add_to_cart_button) {
            font-size: .75em;
        }

        &:not(.single_add_to_cart_button):not(.add_to_cart_button):not(.alt):not(:disabled[disabled]):not(.disabled) {
            border-color: $roxo  !important;
            background-color: $roxo  !important;
            color: $branco  !important;
        }

        &:not(.single_add_to_cart_button):not(.add_to_cart_button):not(:disabled[disabled]):not(.disabled).alt {
            border-color: $azul  !important;
            background-color: $azul  !important;
            color: $branco  !important;

            &:hover, &:focus {
                background-color: $azul-claro !important;
                color: $azul  !important;
                border-color: $azul-medio  !important;
            }
        }

        &:disabled[disabled], &.disabled {
            border-color: $cinza-medio  !important;
            background-color: $cinza-claro  !important;
            color: $cinza  !important;
            cursor: not-allowed !important;
        }

    }
}

// ========================================//
// SETINHA NAV DE JORNADA DE COMPRA
// ========================================//
.jornada-cart-item {
    &:not(.last):after {
        pointer-events: none;
        width: 15px;
        height: 21px;
        background-position: center;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: -12px;
        margin-top: -10px;
        content: '';
        z-index: 1;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 15 21'%3E%3Cpath fill='%23D1C8E2' d='m14.5 10.5-12 10V.5l12 10Zm-1.6 0-9.4 7.87V2.64l9.4 7.86Z'/%3E%3Cpath fill='%23F7F5FA' d='m12.9 10.5-12 10V.5l12 10Z'/%3E%3C/svg%3E");
    }

    &:not(.last).ativo:after,
    &.com-link:hover:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 15 21'%3E%3Cpath fill='%23D1C8E2' d='m14.5 10.5-12 10V.5l12 10Zm-1.6 0-9.4 7.87V2.64l9.4 7.86Z'/%3E%3Cpath fill='%23d7d2e1' d='m12.9 10.5-12 10V.5l12 10Z'/%3E%3C/svg%3E");
    }
}

// ========================================//
// LOOP
// ========================================// 
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    background: $branco;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    a { color: inherit; }
}

// ========================================//
// PAGINA LP PRODUTO
// ========================================//
.prod-mail-brands svg { position: relative; }

.wrap-adicionar-carrinho {
    margin: 1em 0 10px;

    p.first-payment-date { margin: 0;}

    form {
        display: flex; flex-wrap: wrap;
        justify-content: space-between;

        // item adicional
        .bundled_product {
            width: 49%; 
            border: 0 !important; margin-bottom: 0 !important;

            @media (max-width: $celular) { width: 100%; }


            .bundled_product_title {font-size: 1em; color: $bege-medio; font-weight: 500; margin: 0;}
            .bundled_product_title_link { display: none; }
            .bundled_product_excerpt { 
                font-size: .85em; font-style: italic; opacity: .7; margin-bottom: 5px;
                p { margin: 0;}
            }
            .bundled_product_optional_checkbox { cursor: pointer;
                font-weight: 500; font-size: .85em;

                input.bundled_product_checkbox { margin: 0 2px 0 0; vertical-align: middle !important;}
                span.price { 
                    color: $verde-medio; font-size: 1em;
                    del { color: white; font-size: .75em; font-weight: 500;}
                    ins { font-weight: 500; }
                }

                // mensagem de estoque
                & + .cart {
                    .bundled_item_wrap:before, .bundled_item_cart_content:before {display: none;}
                    .bundled_item_cart_details p.stock {
                        font-size: .9em; font-style: italic;
                        color: $roxo-medio;
                    }
                }

                & + p.stock.out-of-stock {
                    font-size: .9em; font-style: italic;
                    color: $rosa-medio;
                }
            }
        }

        // add carrinho
        & > .cart {
            margin-top: 1em; text-align: center; width: 100%; position: relative;

            .bundle_wrap {
                padding: 0; border-radius: 10px;
                background: none; position: relative;

                .bundle_price {
                    font-weight: normal; font-size: 7em; color: $bege-medio;
                    font-family: $fonte-titulos; text-decoration: none;

                    p.price { margin-bottom: 10px; line-height: 1;}

                    span.woocommerce-Price-amount.amount { display: inline-block;}

                    span.woocommerce-Price-currencySymbol { 
                        font-size: 1rem; font-weight: 500;
                        font-family: $fonte-padrao; color: $branco;
                        vertical-align: top; 
                        position: relative; top: 5px;
                    }

                    del { display: none; }
                }

                .bundle_button button.button {
                    font-size: 1.3em;
                }
            }
        }
    }

}


// ========================================//
// CHECKOUT
// ========================================//
.afc-form-cupom {
    display: flex; margin: 10px 0 1.8em;
    input { margin: 0; text-transform: uppercase; border-color: $azul-medio !important;}
    button { margin-left: 10px !important; border-radius: 5px !important;}
}

div.woocommerce {
    a { color: $roxo;}
    label { line-height: 1.1; }
}

#add_payment_method, .woocommerce-cart, .woocommerce-checkout {
	#payment {
		background: transparent;

		ul.payment_methods {
			padding: 0 !important;
			border: 0;

			li {
				& > label {
					cursor: pointer !important; 
 
					img { max-height: 20px !important; vertical-align: unset; position: relative; bottom: -2px !important;}

					small, span.amount {font-size: 12px; padding: 3px 6px; color: $afirmacao; font-weight: bold; padding: 1px 6px; text-transform: uppercase; background: $verde-claro;}
				}

                & > input[type="radio"] { margin: 0 !important;}

				div.payment_box {
					background: $verde-claro; border-radius: 0 !important;
					border: 1px solid $verde-medio;

					&:before { border-bottom-color: $verde-claro; }
					&:after {
						content: ""; display: block; z-index: -1;
					    border: 1em solid $verde-medio;
					    border-right-color: transparent;
					    border-left-color: transparent;
					    border-top-color: transparent;
					    position: absolute; top: -.75em;
					    left: 0; margin: -1.1em 0 0 2em;
					}

					fieldset {
						// background: white !important; 
						margin-top: 0 !important;
						padding: 0 !important; 

						.form-row-wide { margin-bottom: 0; }
						.form-row-first, .form-row-last { width: 48%; margin-bottom: 0; }
						.form-row {
							padding-left: 3px !important;
						    padding-right: 3px !important;
						}

						div[role="alert"] {
							margin-top: 1em;

							& + br { display: none; }
						}

						input.input-text, input.paghiper_tax_id {
							background: white !important; box-shadow: none !important;
							font-size: 1em !important; border-color: $verde-medio !important;
							&:focus { border-color: $verde !important; }
						}

						select {
							background-color: white !important;
							background-repeat: no-repeat !important; 
							background-size: 13px auto !important;
							background-position: 96% 5px !important;
							background-image: url('../img/select-checkout.svg') !important;
							border: 1px solid $verde-medio !important;
						}

						&.wc-paghiper-form {
							padding: 1em 0 0 0 !important; 
							.form-row { padding: 0 !important; }
						}
					}

					// mercado pago
					div.mp-panel-checkout, div.mp-panel-custom-checkout {
						padding: 0; background: none;
						div.mp-redirect-frame-pix { 
							background: none; 
							p { font-family: $fonte-padrao !important; color: var(--cor-texto) !important; font-size: .9rem !important;}
						}
						input.mp-form-control-check { margin-top: 4px !important;}
						label.mp-label-form-check, label.mp-label-form, .mp-subtitle-ticket-checkout { font-family: $fonte-padrao !important; color: var(--cor-texto) !important; }
						.mp-obrigatory { font-family: $fonte-padrao !important; font-weight: bold !important;}
						.mp-form-control { border-radius: 4px !important; font-family: $fonte-padrao !important; color: var(--cor-texto) !important; }
					}
					
				}

				&.payment_method_paghiper_billet label img { width: 43px !important; } 
				&.payment_method_paghiper_pix label img { width: 20px !important; } 
				&.payment_method_paypal label img { width: 83px !important; } 

				&.payment_method_stripe_cc {
					.wc-stripe-gateway-desc { position: relative; margin-bottom: 1.8em; }
					#wc-stripe-card-element { border: 1px solid $verde-medio; }
				}
			}
		}

		div.place-order {
			margin-top: 2em;
			padding: 0 !important;

			.woocommerce-privacy-policy-text { margin-bottom: 20px; font-style: italic; }
			.woocommerce-terms-and-conditions { border-color: $cinza-medio; box-shadow: 0 0 15px transparentize(black,0.95) !important; }
		}
	}
}