// ========================================//
// WPFORMS
// ========================================// 
.wpforms-field-container, .wpforms-container, .wpforms-field-container {
	max-width: $container-medio; margin:0 auto; width: 100%;
}

.wpforms-repeater-field-container { width: 100%;}

.wpforms-container:not(.form-newsletter-footer) .wpforms-field-container, .wpforms-page, .wpforms-repeater-fields-wrapper {
	display: flex; flex-wrap: wrap; justify-content: space-between;
	
	.wpforms-field, .wpforms-field-repeater {width: 100%; margin-top: 12px;}
	
	input, textarea, .wpforms-field-phone > div {margin-top: 5px !important}

    input:not([type="radio"]):not([type="checkbox"]), textarea {
        @extend .input-text;
    }

	.wpforms-repeater-button {
		@extend .botao, .azul, .inverso;
		&.wpforms-repeater-remove { margin-left: 10px;}
	}

	.label {
		border:0; font-size: 0.95em; background: $verde-claro;
		border-radius: 8px; border: 1px solid $verde-medio;

		&:not(.wpforms-field-html) {padding: 10px 20px 20px;}
		&.wpforms-field-html { padding: 0;
			& > div {padding: 10px 20px 20px;}
		}

		h3 {display:none}
		.wpforms-payment-total {color: $afirmacao}

		&.cinza {
			background: $cinza; border-color: #DDD;
			.wpforms-payment-total {color: $grafite}
		}
		&.rosa {
			background: $rosa-claro; border-color: $rosa-medio;
			.wpforms-payment-total {color: $rosa}
		}
		&.roxo {
			background: $roxo-claro; border-color: $roxo-medio;
			.wpforms-payment-total {color: $roxo}
		}
		&.bege {
			background: $bege-claro; border-color: $bege-medio;
			.wpforms-payment-total {color: $bege}
		}
		&.azul {
			background: $azul-claro; border-color: $azul-medio;
			.wpforms-payment-total {color: $azul}
		}
		 
		&.alerta-negacao {background: $negacao; border-color: $negacao; color: white}
		&.alerta-afirmacao {background: $afirmacao; border-color: $afirmacao; color: white }

		p:not(:first-of-type) { margin-top: 1em;}
	}

	.wpforms-field-html {
		p:not(:first-of-type) { margin-top: 1em;}
	}


	.escolha-checkbox { padding: 0; }
	.escolha-checkbox + .escolha-checkbox { margin-top: 0; }

	.colar-acima {padding-top:0 !important; margin-top: 0 !important}	

	.choices { margin: 14px 0 !important;}

	ul {
		li {
			&:before { display: none !important; }
			&:not(.wpforms-selected) label { opacity: .75; }
		}
	}

	label {cursor: pointer;}

	// .varias-escolhas {
	// 	ul { 
	// 		border: 1px solid $roxo-medio; border-radius: 8px; margin-top: 5px;
	// 		li {padding: 10px;}
	// 	}

	// 	&:not(.wpforms-list-3-columns):not(.wpforms-list-2-columns) {
	// 		ul li {
	// 			&:not(:first-of-type) {border-top: 1px solid $roxo-medio}
	// 			&:nth-of-type(odd) { background: $roxo-claro; }

	// 			&:first-of-type {border-radius: 8px 8px 0 0;}
	// 			&:last-of-type {border-radius: 0 0 8px 8px;}
	// 		}
	// 	}

	// 	&.wpforms-list-3-columns, &.wpforms-list-2-columns {
	// 		ul { display: flex;
	// 			li {
	// 				flex-grow: 1;
	// 				&:not(:first-of-type) {border-left: 1px solid $roxo-medio}
	// 				&:nth-of-type(odd) { background: $roxo-claro; }

	// 				&:first-of-type {border-radius: 8px 0 0 8px;}
	// 				&:last-of-type {border-radius: 0 8px 8px 0;}
	// 			}
	// 		}
	// 	}

	// 	&.fundo-liso ul li { background: none !important; }
	// }

	@media (min-width: 670px) {
		.terco {width: calc(33% - 10px); }
		.dupla {width: calc(50% - 10px); }
		.dois-terco {width: calc(66% - 10px); }
	}


	.wpforms-field-pagebreak { margin-left: -10px;}

	button.wpforms-page-button {
		display: inline-block;
		outline: 0;
		background-color: $grafite !important;
		color: white !important;
		letter-spacing: 0.09em;
		line-height: 1;
		cursor: pointer;
		font-size: .65em !important; padding: .6em 1.2em !important;
		position: relative;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
		white-space: nowrap;
		border: 0;
		box-shadow: none !important;
		border-radius: 100px !important;
		text-shadow: 1px 1px 0 transparentize(black,0.9) !important; 
		margin-left: 10px;
	}

	.wpforms-payment-total {
		font-weight:bold !important; font-size: 1.85em !important
	}

}