
.flexb {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
}

.flexb-column {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
   -webkit-box-orient: vertical !important;
   -webkit-box-direction: normal !important;
   -webkit-flex-direction: column !important;
   -ms-flex-direction: column !important;
   flex-direction: column !important;
}

.flexb-center {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
   -webkit-box-align: center !important;
   -webkit-align-items: center !important;
   -ms-flex-align: center !important;
   align-items: center !important;
}

.flexb-start {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
   -webkit-box-align: start !important;
   -webkit-align-items: flex-start !important;
   -ms-flex-align: start !important;
   align-items: flex-start !important;
}

.flexb-end {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
   -webkit-box-align: end !important;
   -webkit-align-items: flex-end !important;
   -ms-flex-align: end !important;
   align-items: flex-end !important;
}

.flexb-wrap {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
   -webkit-flex-wrap: wrap !important;
   -ms-flex-wrap: wrap !important;
   flex-wrap: wrap !important;
}

.flexb-justify-space-around {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
   -webkit-justify-content: space-around !important;
   -ms-flex-pack: distribute !important;
   justify-content: space-around !important;
}

.flexb-justify-center {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
   -webkit-box-pack: center !important;
   -webkit-justify-content: center !important;
   -ms-flex-pack: center !important;
   justify-content: center !important;
}

.flexb-justify-space-between {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
   -webkit-box-pack: justify !important;
   -webkit-justify-content: space-between !important;
   -ms-flex-pack: justify !important;
   justify-content: space-between !important;
}


.flexb-grow {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
   -webkit-box-pack: justify !important;
   -webkit-justify-content: space-between !important;
   -ms-flex-pack: justify !important;
   justify-content: space-between !important;
   -webkit-box-flex: 1 !important;
   -webkit-flex: auto !important;
   -ms-flex: auto !important;
   flex: auto !important;
}

.flexb-right {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
   -webkit-box-pack: end !important;
   -webkit-justify-content: flex-end !important;
   -ms-flex-pack: end !important;
   justify-content: flex-end !important;
}

.flexb-left {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
   -webkit-box-pack: start !important;
   -webkit-justify-content: flex-start !important;
   -ms-flex-pack: start !important;
   justify-content: flex-start !important;
}

.flexb-grow {
   -webkit-box-flex: 1 !important;
   -webkit-flex: 1 !important;
   -ms-flex: 1 !important;
   flex: 1 !important;
}

@media screen and (max-width:767px){

    .flexb-reverse-mob {
    -webkit-flex-wrap: wrap-reverse !important;
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
    }
}


.borda-redonda-5 {
   border-radius: 5px !important;
}

.borda-redonda-10 {
   border-radius: 10px !important;
}

.borda-redonda {
   border-radius: 100px !important;
}