@font-face {
  font-family: 'Blankers';
  src: url('../../assets/css/fonts/BlankersSignature.woff2') format('woff2'), url('../../assets/css/fonts/BlankersSignature.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FA Brands';
  src: url('../../assets/css/fonts/FontAwesome6Brands-Regular.woff2') format('woff2'), url('../../assets/css/fonts/FontAwesome6Brands-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FA 6';
  src: url('../../assets/css/fonts/FontAwesome6Pro-Thin.woff2') format('woff2'), url('../../assets/css/fonts/FontAwesome6Pro-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FA 6';
  src: url('../../assets/css/fonts/FontAwesome6Pro-Light.woff2') format('woff2'), url('../../assets/css/fonts/FontAwesome6Pro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../../assets/css/fonts/Recoleta-Medium.woff2') format('woff2'), url('../../assets/css/fonts/Recoleta-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
